@model StudentsWeb.Models.Student
@{
    ViewData["Title"] = "Delete Student";
}

<h1 class="text-center">STUDENT CRUD</h1>

<div class="row">
    <div class="col-12">
        <div class="card border">
            <div class="card-header">
                <h3><strong>Delete Student</strong></h3>
            </div>
             <div class="card-body">
               <form asp-action="Delete">

                   <!--ID del usuario como campo oculto-->
                   <input type="hidden" form="Id" />

                   <div class="card-body">
                <ul class="list-group">
                  <li class="list-group-item"><strong>Nombre: </strong>@Html.DisplayFor(m => m.Name)</li>
                  <li class="list-group-item"><strong>Birthday: </strong>@Html.DisplayFor(m => m.Birthday)</li>
                  <li class="list-group-item"><strong>Grade: </strong>@Html.DisplayFor(m => m.Grade)</li>
                  <li class="list-group-item"><strong>State: </strong>@Html.DisplayFor(m => m.State)</li>                 
                </ul>
                </div>
                   <div class="form-group mt-3">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want delete this item?')"><i class="bi bi-eraser-fil"></i> Delete Student</button>
                        <a href="/home" class="btn btn-outline-success"><i class="bi bi-x-square"></i> Cancel</a>
                   </div>
               </form>
            </div>
        </div>
    </div>
</div>
